.Orb {
    height: 150px;
    // transform: rotateZ(1000deg) infinite;
    // transition: 9000ms;
    //position: absolute;

    &:hover {
        cursor: grab;
    }

    &:active {
        cursor: grabbing;
    }
}