html {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-attachment: fixed;
  /* animation: morphbg 30s infinite; */
  background-color: #026873;
  /* https://projects.verou.me/css3patterns/#checkerboard */
background-color: #dfd3dd;
background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, #242424),
linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, #242424);
background-size: 60px 60px;
background-position: 0 0, 30px 30px;
}

@keyframes morphbg {
  0% { background-color: #dfd3dd; }
  12% { background-color: #000000; }
  24% { background-color: #000000; }
  36% { background-color: #000000; }
  48% { background-color: #000000; }
  60% { background-color: #dfd3dd; }
  72% { background-color: #000000; }
  84% { background-color: #000000; }
  100% { background-color: #dfd3dd; }
}
